MONGODB_URI=mongodb://localhost:27017/chat_db
JWT_SECRET=your_jwt_secret_here
PORT=3001
ENV=development
BACKEND_FLUT_URL=http://localhost:8080/api/v1
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
